/* Desktop */
@media (min-device-width: 481px) {
  .container {
    width: 1024px;
    margin: auto;
    padding: 2em;
    padding-top: 5em;
    align-items: center;
    justify-content: center;
  }
}

/* Smartphones */
@media (max-device-width: 480px) {
  .container {
    padding: 5vmin;
  }
}
